<h1>Flights for <%= @passenger.name%></h1>

<% @passenger.flights.each do |f| %>
  <section id = "flight-<%=f.id%>">
    Flight Number: <%= link_to f.number, "/flights/#{f.id}" %>
  </section>
<% end %>

<%= form_tag "/passengers/#{@passenger.id}/flights", method: 'patch' do %>
<%= label_tag 'number' %>
<%= text_field_tag 'number' %><br/>
<%= submit_tag "Add Flight" %>
<% end %>
