<h1>Flights for <%= @passenger.name%></h1>

<% @passenger.flights.each do |f| %>
  <section id = "flight-<%=f.id%>">
    Flight Number: <%= link_to f.number, "/flights/#{f.id}" %>
  </section><br/>
<% end %>

<h3>Add Another Flight Here</h3>
<%= form_tag "/passengers/#{@passenger.id}/flights", method: 'patch' do %>
<%= label_tag 'Flight Number' %>
<%= text_field_tag 'number' %><br/><br/>
<%= submit_tag "Add Flight" %>
<% end %>
